<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Main View</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <meta charset="UTF-8"> <!-- this tells website the character set used-->
    </head>

    <body>
    <center><h4>N U T R I T I O N</h4>
    {% for food in foods %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- media is the combined image and text -->
        <div class="media">
          <!-- on left is the image -->
          <div class="media-left" style="padding-left:100px">
          </div>
          <!-- on the right of image is corresponding text -->
          <div class="media-body">
            <h2 class="media-heading" style="color:red">{{food.foodName}}</h2>
            <p> Calories: {{food.calorie}} </p>
            <p> Serving Size: {{food.servingSize}} {{food.servingSizeUnits}} </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </center>
    </body></html>
